{% extends "base.html" %}

{% block content %}
    {% if movies %}
        {% load static %}
        <!-- Título da página com o gênero selecionado -->
        <h1 class="text-center">Genre: {{ cat }}</h1><br/><br/><br/>

        <!-- Iteração sobre a lista de filmes -->
        {% for movie in movies %}
            <!-- Card de filme -->
            <div class="col-md-3 mb-4">
                <div class="card">
                    <!-- Link para a página de detalhes do filme -->
                    <a href="{% url 'movie_detail' movie.Id %}" class="stretched-link">
                        <!-- Imagem de capa do filme -->
                        <img src="{% static 'img/cover/' %}{{ movie.Id }}.jpg" class="card-img-top" alt="{{ movie.Title }}">
                        <div class="card-body">
                            <!-- Título do filme e disponibilidade -->
                            {% if movie.Available %}
                                <h5 class="card-title">{{ movie.Title }}</h5>
                                <p class="card-text">Available</p>
                            {% else %}
                                <h5 class="card-title text-muted text-decoration-line-through">{{ movie.Title }}</h5>
                                <p class="card-text text-muted text-decoration-line-through">Unavailable</p>
                            {% endif %}
                            <!-- Status de visualização do filme -->
                            {% if movie.Watched %}
                                <p class="card-text text-danger-emphasis">Watched</p>
                            {% else %}
                                <p class="card-text text-success">Not viewed</p>
                            {% endif %}
                        </div>
                    </a>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <!-- Mensagem caso nenhum filme seja encontrado -->
        <h2>No movies found for this selection</h2>
    {% endif %}

    <!-- Paginação -->
    {% if total_pages > 1 %}
        <nav aria-label="Page navigation" class="d-flex justify-content-center mt-4">
            <ul class="pagination">
                <!-- Botão para a primeira página -->
                {% if current_page > 1 %}
                    <li class="page-item">
                        <a class="page-link" href="?page=1" aria-label="First">
                            <span aria-hidden="true">&laquo;&laquo;</span> First
                        </a>
                    </li>
                    <!-- Botão para a página anterior -->
                    <li class="page-item">
                        <a class="page-link" href="?page={{ current_page|add:-1 }}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span> Previous
                        </a>
                    </li>
                {% endif %}

                <!-- Número da página atual -->
                <li class="page-item active"><span class="page-link text-bg-secondary">Pág {{ current_page }}</span></li>

                <!-- Botão para a próxima página -->
                {% if current_page < total_pages %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ current_page|add:1 }}" aria-label="Next">
                            Next <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                    <!-- Botão para a última página -->
                    <li class="page-item">
                        <a class="page-link" href="?page={{ total_pages }}" aria-label="Last">
                            Last <span aria-hidden="true">&raquo;&raquo;</span>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    {% endif %}
{% endblock content %}