{% extends "base.html" %}

{% block content %}
    {% if movies %}

    <!-- Carregar o módulo estático do Django -->
        {% load static %}
            {% for movie in movies  %}        
            <!-- Card -->
            <div class="col-md-3 mb-4">
                <div class="card">
                    <img src="{% static 'img/cover/' %}{{movie.Id}}.jpg" class="card-img-top" alt={{movie.Title}}>
                    <div class="card-body">
                        {% if movie.Available %}
                            <h5 class="card-title">{{movie.Title}}</h5>
                            <br/>
                            <p class="card-text">Available</p>
                        {% else %}
                            <h5 class="card-title text-muted text-decoration-line-through">{{movie.Title}}</h5>
                            <br/>
                            <p class="card-text text-muted text-decoration-line-through">Unavailable</p>
                        {% endif %}
                        {% if movie.Watched %}
                            <p class="card-text text-danger-emphasis">Watched</p>
                        {% else %}
                            <p class="card-text text-success">Not viewed</p>                            
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}


    {% else %}
        <h2>No movies found for this selection</h2>
    {% endif %}


{% endblock content %}