{% extends "base.html" %}

{% block content %}
    {% if movies %}

    <!-- Carregar o módulo estático do Django -->
        {% load static %}
            {% for movie in movies  %}        
            <!-- Card -->
            <div class="col-md-3 mb-4">
                <div class="card">
                    <img src="{% static 'img/cover/' %}{{movie.Poster}}" class="card-img-top" alt={{movie.Title}}>
                    <div class="card-body">
                        {% if movie.Available %}
                            <h4 class="card-text">{{movie.Title}}</h4>
                            <pre class="text-success-emphasis">Available</pre>
                        {% else %}
                            <h5 class="card-text text-muted text-decoration-line-through">{{movie.Title}}</h5>
                            <pre class="text-muted text-decoration-line-through">Unavailable</pre>
                        {% endif %}
                        {% if movie.Watched %}
                            <pre class="text-danger-emphasis">Watched</pre>
                        {% else %}
                            <pre class="text-success">Not viewed</pre>                            
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}


    {% else %}
        <h2>No movies found for this selection</h2>
    {% endif %}


{% endblock content %}