            <!-- Menu de navegação -->
            <nav class="menu">
                <ul class="nav justify-content-center">
                    <li class="nav-item"><a href="{% url "home" %}" class="nav-link text-light">Home</a></li>
                    <li class="nav-item"><a href="#" class="nav-link text-light">Search</a></li>
                    <li class="nav-item dropdown ">
                    <a class="nav-link dropdown-toggle text-light" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Categorias</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{% url 'home' %}">Todas</a></li>
                        <li><hr class="dropdown-divider" /></li>
                        <li><a class="dropdown-item" href="#">Ação</a></li>
                        <li><a class="dropdown-item" href="#">Drama</a></li>
                        <li><a class="dropdown-item" href="#">Comédia</a></li>
                    </ul>
                </li>

                    <li class="nav-item"><a href="{% url "about" %}" class="nav-link text-light">About</a></li>
                </ul>
            </nav>