/* Carregando as fontes personalizadas */
@font-face {
    font-family: 'Normal';
    src: url('/static/fonts/72-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Mono';
    src: url('/static/fonts/72Mono-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Subset';
    src: url('/static/fonts/72-Regular.ttf') format('truetype');
}

/* Estilização compartilhada entre header e footer */
.bg-custom {
    background-color: #354a5f;
    color: #fff;
    /* Define o texto como branco */
}

/* Garantir que o body ocupe 100% da altura da página */
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #cfdde8;
    font-family: 'Normal', sans-serif;
}

/* O conteúdo principal deve ter um mínimo de altura para preencher o espaço */
main {
    min-height: calc(100vh - 80px);
    /* Subtrair a altura do header e do footer */
}

/* Footer fixo na parte inferior */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #354a5f;
    text-align: center;
    padding: 10px 0;
    font-family: 'Normal', sans-serif;
}

/* Fixar o header no topo da página */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    padding-bottom: 20px;
    /* Espaço extra no final do header */
    font-family: 'Subset', sans-serif;
}

/* Estilo para links no header (menu e login/register) */
header a {
    color: #fff;
    /* Define a cor dos links como branca */
    text-decoration: none;
    /* Remove sublinhado dos links */
}

/* Cor ao passar o mouse nos links */
header a:hover {
    color: #ddd;
    /* Cor mais clara ao passar o mouse */
}

/* Ajustes na área de login */
.login .btn-outline-dark {
    color: #fff;
    /* Cor do texto branco no botão de login */
    border-color: #fff;
    /* Cor da borda do botão de login */
}

/* Estilo ao passar o mouse sobre o botão de login */
.login .btn-outline-dark:hover {
    background-color: #fff;
    /* Fundo branco no hover */
    color: #354a5f;
    /* Texto escuro no hover */
}

/* Estilos para o logo */
.logo img {
    width: 250px;
    height: 150px;
    object-fit: contain;
    /* Garante que a imagem mantenha a proporção */
}
pre,
code {
    font-family: 'MinhaFonteMono', monospace;
}